APP_KEY=xxxx
APP_URL=http://localhost:3000

#dev, stage, prod
APP_MODE=dev
APP_MASTER_PASSWORD=xxxx
APP_MASTER_OTP=xxxx

# Server
SERVER_PORT=3000
TZ=Asia/Kolkata

# Database Connection
MONGO_CONNECTION_STRING=xxxx

# AWS S3
AWS_S3_ACCESS_KEY=xxxx
AWS_S3_SECRET_KEY=xxxx
AWS_S3_BUCKET_NAME=xxxx
AWS_S3_REGION=xxxx

DEV_AWS_S3_ACCESS_KEY=xxxx
DEV_AWS_S3_SECRET_KEY=xxxx
DEV_AWS_S3_BUCKET_NAME=xxxx
DEV_AWS_S3_REGION=xxxx

# Mail
MAIL_PORT=xxxx
MAIL_ENCRYPTION=xxxx
MAIL_USER_NAME=xxxx
MAIL_USER_PASSWORD=xxxx
MAIL_HOST=xxxx
MAIL_FROM=xxxx

# Origin, multiple comma separated
# ALLOW_ORIGIN=

# JWT
JWT_SECRET_KEY=xxxx

# Express Session
EXPRESS_SESSION_SECRET=xxxx

# IP Info API Token
IP_INFO_TOKEN=xxxx

# Pay Stack
TEST_PAY_STACK_SECRET_KEY=xxxx
LIVE_PAY_STACK_SECRET_KEY=xxxx

# Market Place Access Token
MARKET_PLACE_ACCESS_TOKEN=xxxx

# Map Box API Keys
MAP_BOX_ACCESS_TOKEN=xxxx

# Google API Keys
GOOGLE_MAP_API_KEY=xxxx
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx

# Facebook API Keys
FACEBOOK_CLIENT_ID=xxxx
FACEBOOK_CLIENT_SECRET=xxxx

# WhatsApp API
TEST_WHATSAPP_PHONE_NUMBER_ID=xxxx
TEST_WHATSAPP_BUSINESS_ACCOUNT_ID=xxxx
TEST_WHATSAPP_ACCESS_TOKEN=xxxx

LIVE_WHATSAPP_PHONE_NUMBER_ID=xxxx
LIVE_WHATSAPP_BUSINESS_ACCOUNT_ID=xxxx
LIVE_WHATSAPP_ACCESS_TOKEN=xxxx
